
<form action="/api/sessions/login" method="POST">
    <label for="email"> Email: </label>
    <input type="email" required name="email">

    <label for="password"> Password: </label>
    <input type="text" name="password" required>

    <button type="submit"> Login </button>

</form>