<header>
    <h1> Mis Productos </h1>

    <div>
        <p>Bienvenido, {{user.first_name}} - {{user.last_name}} </p>
        <p>Email: {{user.email}} </p>
        <p>Rol: {{user.role}} </p>
        <a href="/api/sessions/logout">Logout</a>
    </div>
</header>

<h2> Esta es la vista de productos, que estuvimos trabajando en Backend 1</h2>
