<h1> Registro de usuarios </h1>

<form action="/api/sessions/register" method="POST">
    <input type="text" name="usuario" placeholder="Usuario" required>
    <br><br>
    <input type="password" name="password" placeholder="Contraseña" required>
    <br><br>
    <button type="submit"> Registrarse </button>
</form>