
<form action="/api/sessions/login" method="POST">
    <label for="email"> Email: </label>
    <input type="email" required name="email">

    <label for="password"> Password: </label>
    <input type="text" name="password" required>

    <button class="btn" type="submit"> Login </button>
    <a class="btn" href="/api/sessions/github">GITHUB</a>
    <a class="btn" href="/api/sessions/auth/facebook"> FACEBOOK </a>

</form>


